{% extends 'index.html' %}
{% block body %}

<div class="container">
    <div class="d-flex">

        <div class="card" style="width: 35%;margin: 5px;">
                 <div class="d-flex p-2">
                    <h6 class="material-icons">
                        topic
                    </h6>
                    <h6 class="m-2">Topics To Follow</h6>
                </div>
         <ul class="list-group list-group-flush">
             <div class="d-flex">
                 <img width="40" height="40" src="" alt="">
                 <li class="list-group-item">Learn programming</li>
             </div>

             <div class="d-flex">
                <img width="40" height="40" src="" alt="">
                <li class="list-group-item">Learn programming</li>
            </div>

            <div class="d-flex">
                <img width="40" height="40" src="" alt="">
                <li class="list-group-item">Learn programming</li>
            </div>


         </ul>
        </div>

        <div style="margin:5px;">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam magnam cum autem reiciendis veritatis doloribus maiores tempora ut odit et quis laudantium, quidem voluptatum necessitatibus, repellat, porro similique! Doloribus, sunt!
        </div>

        <div style="margin:5px;width:35%;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam magnam cum autem reiciendis veritatis doloribus maiores tempora ut odit et quis laudantium, quidem voluptatum necessitatibus, repellat, porro similique! Doloribus, sunt!
                    </div>
    </div>
</div>

{% endblock %}
